{% extends "Layouts/main.layout.twig" %}

{% import "Macros/paginacao.twig" as Paginacao %}

{% block title %}Serviços | Job4You{% endblock %}

{% block main %}
	<section class="flex">
		{% include "Partials/servicos/_filtros.twig" %}
	
		<div class="my-3">
			{% include "Partials/servicos/_busca.twig" %}

			<div class="flex flex-wrap gap-x-6 gap-y-10">
				{% include "Partials/servicos/_prestadores.twig" %}
			</div>

			{{ Paginacao.render(atual: 5, total: 10) }}
		</div>
	</section>
{% endblock %}

{% block scripts %}
	<script type="module" src="/assets/js/servicos/index.js"></script>
{% endblock %}