{% extends "Layouts/main.layout.twig" %}

{% import "Macros/paginacao.twig" as Paginacao %}

{% block title %}Serviços | Job4You{% endblock %}

{% block main %}
	<section class="flex mb-8">
		{% include "Partials/servicos/_filtros.twig" %}
	
		<main class="m-3 flex-1">
			{% include "Partials/servicos/_busca.twig" %}

			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-5 gap-y-10">
				{% include "Partials/servicos/_publicacao-servico.twig" %}
			</div>

			{{ Paginacao.render(atual: paginaAtual, total: totalPaginas) }}
		</main>
	</section>
{% endblock %}

{% block scripts %}
	<script type="module" src="/assets/js/servicos/index.js"></script>
{% endblock %}