{% extends "Layouts/admin-painel.layout.twig" %}

{% block title %}Painel Administrativo | Job4You{% endblock %}

{% block painel %}
  <div class="px-6 mt-7">
    {% include "Partials/admin/_dashboard-cards.twig" %}

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      {% include "Partials/admin/_notificacoes.twig" %}
      {% include "Partials/admin/_ultimos-servicos.twig" %}
      {% include "Partials/admin/_aprovacoes-prestadores.twig" %}
    </div>
  </div>
{% endblock %}